{% extends 'layout.html' %}
{% block body %}
<div class='container'>
<h3 class='text-center'>Cast a Vote for AMOEBOTO / Fall Analyst</h3>
<form method='post' class='form'>
	<div class='form-group'>
		<label for="voter">Your Name</label>
		<input class='form-control' type='text' name='voter'/>
		
		<p>VOTE FOR <b>2</b> Candidates in each round.</p>
		
		<div class='checkbox'>
		<label for="aidan" class='checkbox-inline'>
		<input class='form-control' type='checkbox' name='aidan'/>
		Aidan Chavez
		</label>
		</div>

		<div class='checkbox'>
		<label for="joe" class='checkbox-inline'>
		<input class='form-control' type='checkbox' name='joe'/>
		Joe Crafa
		</label>
		</div>

		<div class='checkbox'>
		<label for="nolan" class='checkbox-inline'>
		<input class='form-control' type='checkbox' name='nolan'/>Nolan Thomas
		</label>
		</div>


		<div class='checkbox'>
		<label for="jeremy" class='checkbox-inline'>
		<input class='form-control' type='checkbox' name='jeremy'/>Jeremy Welborn
		</label>
		</div>

	</div>
	<div class='form-group text-center'>
	<button class='btn btn-danger'>Submit</button>
	</div>
</form>
</div>
{% endblock %}